@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Flower Shop</h1>
    <p> <a href="https://localhost:7293/MonoFlowers">Mono Flowers</a>.</p>
    <p> <a href="https://localhost:7293/Bouqet">Bouqet</a>.</p>
</div>
